{% extends 'base.html' %}
{% block content %}
    <!-- <div class="container mx-auto max-w-4xl">
        <h1 class="text-4xl text-gray-900 text-center pb-2 mt-2 font-mono">LEETCODE TRACKER V1.0</h1>
    </div> -->
    {% if not user.is_authenticated %}
        <div class="mt-5 w-full max-w-xs mx-auto">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
                  method="POST"
                  action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           id="username"
                           name="username"
                           type="text"
                           placeholder="Username"
                           required />
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                           id="password"
                           name="password"
                           type="password"
                           placeholder="******************"
                           required />
                    <!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> -->
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Log In</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container">
            <input type="text"
                   id="search"
                   class="mt-5 mx-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-5/12 p-2.5"
                   placeholder="Search (eg. hard, medium, favorite, Arrays, Subsets)"
                   onkeyup="searchFunction()">
        </div>
        <div class="container mx-auto m-w-5xl">
            <br />
            {% if questions %}
                <div class="grid grid-cols-4 gap-4 h-64" id="check-div">
                    {% for question in questions %}
                        <a href="{% url 'update_question' question.id %}"
                           id="questions"
                           class="livesearch rounded-lg hover:bg-slate-100 transition-all {% if question.difficulty == 'Easy' %}bg-lime-400{% elif question.difficulty == 'Medium' %}bg-amber-300{% elif question.difficulty == 'Hard' %}bg-rose-600{% else %}bg-slate-300{% endif %}">
                            {% if question.favorite %}
                                <div class="flex justify-end relative">
                                    <svg class="bg-white rounded-sm"
                                         version="1.1"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/2000/xlink"
                                         width="21px"
                                         height="20px">
                                        <path d="M9.5 14.25l-5.584 2.936 1.066-6.218L.465 6.564l6.243-.907L9.5 0l2.792 5.657 6.243.907-4.517 4.404 1.066 6.218" />
                                    </svg>
                                    <p class="hidden">favorite</p>
                                </div>
                            {% endif %}
                            <div class="ml-2 mr-2">
                                <h1 class="mt-2 text-center text-xl font-semibold">{{ question.question_name }}</h1>
                                <br />
                                <p class="text-center break-words">
                                    {% for topic in question.topics %}{{ topic }}&nbsp;&nbsp;{% endfor %}
                                </p>
                                <p class="text-center text-xs italic pb-1">Date: {{ question.created_at }}</p>
                                <p class="hidden">{{ question.difficulty }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <br />
                <h1 class="text-center text-4xl underline hover:text-indigo-400 transition-colors">
                    <a href="{% url 'add_question' %}">Start Tracking Your Solved Questions</a>
                </h1>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
